<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.game.domain.mapper.TestMapper">

    <select id="queryCount" resultType="Integer">
    	SELECT count(*) FROM project.carInfo
    </select>


    <update id="insertCarRow"  parameterType="com.example.game.domain.pojo.CarInfo">
        INSERT INTO project.carInfo(province,city,name,code,tel,address) VALUES(#{province},#{city},#{name},#{code},#{tel},#{address});
    </update>
</mapper>